
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
    padding: 0;
}
ul,ol{padding-left:0;list-style-type:none;}

a {text-decoration: none;}
a img{ border: none; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }

h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }


ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
















.bg#29 {background-color: #29b078}
.br {border-radius: 50%;}




.cl#f {color: #ffffff}
.cl#29 {color: #29b078}

.jcs {justify-content:start;}
.jcc {justify-content: center;}
.jcsa {justify-content: space-around;}
.jcsb {justify-content: space-between;}
.jcfe {justify-content: flex-end;}
.aic {align-items: center;}
