.footer {
    background-color: #29b078;
    color: #fff;
    margin-top: 4rem;
}
.headline {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headline1 {
    padding: 3rem 0;
    display: flex;
    align-items: center;

}
.b1 {
    padding: 0 1rem  0 0;
    border-right: 2px solid #bfcfd7;
}
.b2 {
    padding: 0 1rem ;
    border-right: 2px solid #bfcfd7;

}
.b3 {
    padding: 0 0 0 1rem;
}



.website1 {
    padding: 2rem 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b4 {
    display: flex;
    text-align: center;
    padding: 2rem 0 ;

}
.b5 {
    display: flex;
    text-align: center;
    padding: 3.4rem 0 ;

}
.website2{
    padding: 0 1rem 0 0 ;
}
.website3 {
    padding: 0 0 0 1rem;
}
.wechat1 {
    padding: 4rem 0.5rem 1rem;
    display: flex;
    /*flex-direction: row-reverse;*/
}
.wechatphoto {
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
}
.method p {
    margin: 0 1rem;
    font-size: 0.7rem;
}


.official {
    background-color: #29b078;
    text-align: center;
    padding: 1rem;

}

i {
    color: red;
    margin-left:0.3rem;
}