html {
    font-size: 62.5%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    width: 100%;
    height: 6rem;
    background-color: #68cdd5;
    position:relative;
    z-index: 2;
}
.return  {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.homepage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
footer {
    width: 100%;
    height:10%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.buttom ,.buttom2{
    font-size: 6rem;
    display: inline-block;
    width: 30rem;
    margin: 3rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 8rem;
    margin-right: 8rem;
    border: 1px solid #000000;
    border-radius: 20px;
}
.buttom {
    position: absolute;
    left: 2%;
    background-color: #ffffff;
    border: 2px solid #68cdd5;
}
.buttom2{
    float: right;
    position: absolute;
    right: 2%;
    background-color: #68cdd5;
    border: 1px solid #000000
}

