
* {
    margin: 0;
    padding: 0;

}
html {
    font-size: 62.5%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    position: relative;
    background-color: #68cdd5;
    width: 100%;
    height: 6rem;
}
.return {
    position: absolute;
    width: 10%;
    height: 3rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    text-align: center;
}
.homepage {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 2rem;
    color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
main {
    position: relative;
}
.doctor {
    display: block;
    position: absolute;
    background: url("../img/doctor.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 12rem;
}
.woman img {
    position: absolute;
    left: 5%;
    height: 6rem;
    width: 6rem;
    margin-top: 3rem;
}
.name {
    position: absolute;
    left: 30%;
    margin-top: 4rem;
    font-size: 1.5rem;
    color: #ffffff;
}
.address img {
    position: absolute;
    left: 30%;
    width: 1rem;
    height: 1rem;
    margin-top: 6rem ;
}
.home {
    position: absolute;
    left: 35%;
    font-size: 1.5rem ;
    margin-top: 5.5rem;
    color: #ffffff;
}
.major {
    font-size: 2rem;
    padding: 1.5rem;
    padding-bottom: 0;
    border-bottom: 1px solid #cccccc;
}
.major p {
    border-left: 3px solid #68cdd5;
    padding-left: 1rem;
    font-size: 1.5rem;
    margin-top: 12rem;
    margin-bottom: 1rem;
}
.text4 {
    border-bottom: 1px solid #cccccc;
}
.text4 img {
    padding-top: 1.2rem;
    padding-left: 4rem;
    padding-bottom: 1.2rem;
}
.span1 {
    font-size: 1.5rem;
    position: absolute;
    margin-top: 1.2rem;
    margin-left: 0.5rem;
}
.span2 {
    font-size:1.5rem ;
    margin-top:1.2rem ;
    margin-left: 0.5rem;
    position: absolute;
}
.text5,.text6,.text7,.text8{
    border-bottom: 1px solid #cccccc;
    padding: 1.2rem;
}
.span5,.span7,.span9,.span11{
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #cccccc;
    border-right: 1px solid #cccccc;
}
.span6 ,.span8,.span10{
    padding-left: 2rem;
    font-size: 1.5rem;
}
.span10 {
    color: #e26163;
}
.a {
    font-size: 1rem;
    width: 72%;
    float: right;
    padding-bottom: 1.2rem;
}
footer {
    width: 100%;
    height: 8rem;
}
.buttom {
    position: absolute;
    left: 2%;
    background-color: #ffffff;
    border: 2px solid #68cdd5;
    padding: 1rem;

}
.buttom2{
    float: right;
    position: absolute;
    right: 2%;
    background-color: #68cdd5;
    border: 2px solid #68cdd5;
    padding: 1rem;



}
.buttom ,.buttom2{
    display:inline-block;
    margin: 3rem;
    margin-bottom: 2rem;
    width:25%;
    font-size: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}










