* {
    margin: 0;
    padding: 0;
}
.html {
    font-size: 62.5%;
}
.body {
    width: 100%;
    background-color: red;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: #68cdd5;
    border-bottom: 4px solid #ffffff
}
.header img {
    padding: 0 2rem;
}
.gameresult {
    font-size: 3rem;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    background-color: #68cdd5;
    margin-bottom: -4px;
}
.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16rem;
    background-color: #68cdd5;
    margin-bottom: -4px;

}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 80%;
    font-size: 3rem;
    color: #ffff00;
}
.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    background-color: #68cdd5;
}
.text1 {
    height: 25rem;
    width: 80%;
    font-size: 2rem;
    color: #f2fbfd;
}
.text1 p {
    padding: 1.5rem 0;
}
.text2,.text3,.text4 {
    padding: 1.5rem 0;
}
.text2 span,.text3 span{
    padding-right: 5rem;
}


.main3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    overflow: auto;
}
.text4 {
    height: 10rem;
    width: 80%;
    font-size: 2rem;
    color: #ffffff;
    background-color: #ffffff;
}
.text4 .date {
    font-size: 3rem;
    color: #515151;
}
.text4 .time {
    position: absolute;
    right: 10rem;
    color: #e3e3e3;
}
.text5 {
    color: #acacac;
}


footer {
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10rem;
    /*背景色采用RGBA透明：r:红， g:绿 b：蓝（取值在0~255之间任意数值）；  a：透明度，（取值在0 ~1之间）*/
    background-color: rgba(0,0,255,0.3);;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.repetition,.share {
    border: 2px solid #ffff00;
    border-radius: 2rem;
}
.repetition {
    padding: 1rem 4rem;
    margin-right: 2rem;
    background-color: #f66f66;
}
.share {
    padding: 1rem 3rem;
    margin-left: 2rem;
    background-color: #fbb435;
}